:root {
    --bg-dark: #000;
    --text-white: #fff;
    --orange-red: #F9804B;
    --orange: #FE9013;
    --yellow: #FFEE2E;
    --green: #4B9200;
    --red: #D31414;
    --text-color: #333B41;
    --text-black: #000;
    --orange-gradient: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --orange-gradient-hover: linear-gradient(113.96deg, #FE9013 1.49%, #FE9013 101.44%);
}

.red {
    border: solid 2px red;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.header {
    height: 80px;
    background: var(--bg-dark);
}

h1 {
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 52px;
    color: var(--text-white);
    font-weight: 400;
    font-size: 19px;
    line-height: 115%;
    text-align: center;
    border: 1px solid #FFF;
    background-image: url('assets/icons/bamboo.svg');
    background-size: 7px 20px;
    background-repeat: no-repeat;
    background-position: 11px 23px;
}

.header-container {
    position: relative;
    padding-top: 14px;
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 63px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    width: 472px;
}

.nav-item {
    font-size: 16px;
    color: var(--text-white);
    transition: .3s;
}

.nav-item.active {
    color: var(--orange-red);
}

.nav-item:hover {
    color: var(--orange-red);
}

.nav-item:active {
    color: var(--green);
}

.designed {
    margin-left: auto;
}

.hamburger {
    display: none;
}

.container-watch {
    padding-top: 12px;
    height: 700px;
    background-image: url('assets/images/panda.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -80px;
}

.watch-circle {
    margin-left: calc(50% + 7px);
    width: 465px;
    height: 465px;
    border-radius: 100%;
    background: var(--orange-gradient);
}

.watch-moto {
    padding-top: 74px;
    padding-left: 84px;
    width: 560px;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-white);
}

.watch-moto-yellow {
    color: var(--yellow);
}

.btn {
    width: 298px;
    height: 54px;
    cursor: pointer;
    position: relative;
    font-family: inherit;
    overflow: hidden;
    transition: all .5s;
    border: 0;
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-white);
    background: var(--orange-gradient);
}

.btn:hover {
    background: var(--orange-gradient-hover);
}

.btn:active {
    background: var(--green);
}

.watch-btn {
    margin-top: 69px;
    margin-left: calc(50% + 185px);
}

.backstage {
    position: relative;
    padding-top: 140px;
    height: 665px;
}

.container-backstage {
    display: grid;
    grid-template-columns: 609px 1fr;
    gap: 87px;
}

.backstage-item-img {
    height: 405px;
    width: 100%;
    background-image: url('assets/images/bamboo_cap.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
    color: var(--text-color);
}

.backstage-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 132%;
    color: var(--text-color);
}
.subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: var(--text-color);
}

.backstage-text1 {
    padding-top: 22px;
}

.backstage-subtitle {
    padding-top: 54px;
}

.backstage-text2 {
    padding-top: 34px;
}

.backstage-photo {
    position: absolute;
    top: 15px;
    right: 0;
    width: 203px;
    height: 609px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('assets/images/flower.png');
}

.pets {
    position: relative;
    padding-top: 58px;
    height: 1165px;
}

.pets-grid {
    position: relative;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, 366px);
    grid-template-rows: repeat(2, 426px);
    row-gap: 20px;
    column-gap: 30px;
}

.scroll {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 72px);
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background: var(--orange-gradient);
}

.scroll:hover {
    background: var(--orange);
}

.scroll:active {
    background: var(--green);
}

.scroll-left{
    left: -82px;
}

.scroll-right{
    right: -82px;
}

.container-pets-item {
    position: relative;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #FA6F32, #FE9013) border-box;
    border-radius: 5px;
    border: 1px solid transparent;
}

.container-pets-item:hover .pets-img-tooltip {
    transition: .3s;
    cursor: pointer;
    opacity: 1;
}

.container-pets-item:hover img.pets-img {
    filter: brightness(40%);
    transform: scale(1.1);
    transition: .3s;
}

.pets-img-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fdfdfd;
    text-align: center;
    font-size: 24px;
    line-height: 120%;
}

.pets-img {
    display: block;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.pets-info {
    padding-top: 8px;
    padding-left: 16px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.pets-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--text-black);
}

.pets-text {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: var(--text-black);
}

.pets-icon {
    margin-right: 10px;
}

.btn-center {
    text-align: center;
}

.btn-pets {
    margin-bottom: 100px;
}

.pets-photo-palm {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 290px;
    height: 460px;
    background-repeat: no-repeat;
    background-image: url('assets/images/palm.png');
}

.pets-photo-strelitzia {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 368px;
    height: 275px;
    background-repeat: no-repeat;
    background-image: url('assets/images/strelitzia.png');
}

.container-pick {
    height: 1004px;
    padding-top: 69px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.pick-frame {
    height: 835px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.pick-title {
    padding-top: 41px;
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: var(--orange);
}

.pick-text1 {
    padding-top: 30px;
    padding-left: 99px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

.pick-text2 {
    padding-top: 40px;
    padding-left: 99px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
}

.pick-text3 {
    width: 970px;
    padding-top: 10px;
    padding-left: 99px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.pick-subtitle {
    padding-top: 60px;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
}

.pick-grid {
    padding-top: 40px;
    padding-bottom: 60px;
    margin: 0 auto;
    width: 764px;
    display: grid;
    grid-template-columns: 168px 130px 168px 130px 168px;
    grid-template-rows: 244px;
}

.pick-grid-item-img {
    width: 168px;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #FA6F32, #FE9013) border-box;
    border-radius: 5px;
    border: 1px solid transparent;
}

.pick-grid-item-info {
    padding-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.pick-grid-arrow {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.pick-grid-arrow img {
    display: block;
    width: 69px;
}

.btn-center {
    text-align: center;
}

.container-testimonials {
    position: relative;
    height: 920px;
    padding-top: 140px;
}

.testimonials-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
}

.testimonials-grid {
    padding-top: 47px;
    display: grid;
    grid-template-columns: repeat(4, 268px);
    column-gap: 30px;
}

.testimonials-grid-item {
    padding-left: 16px;
    padding-right: 15px;
    padding-top: 12px;
    min-height: 391px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(#F1F3F2, #F1F3F2) padding-box,
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) border-box;
    border-radius: 20px;
    border: 2px solid transparent;
}

.feedback-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.feedback-ava {
    width: 37px;
    height: 37px;
}

.feedback-header-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.client-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000;
}

.client-location {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.feedback-text {
    margin-top: 10px;
}

.feedback-text-p {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
}

.progres-bar-box {
    margin-top: 14px;
    text-align: center;
}

.progres-bar {
    width: 599px;
    height: 8px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: none;
    background: linear-gradient(to right, var(--orange) 0%, var(--orange) 20%, #F5F7F6 0%, #F5F7F6 100%);
    border: 1px solid #FEBDAB;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.progres-bar::-moz-range-track {
    height: 6px;
    border-radius: 5px;
}

.progres-bar::-webkit-slider-runnable-track {
    height: 6px;
    border-radius: 5px;
}

.progres-bar::-moz-range-thumb {
    display: none;
}

.progres-bar::-webkit-slider-thumb {
    display: none;
}

.progres-bar::-moz-range-progress {
    border: 2px solid var(--orange);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--orange);
}

.btn-testimonials {
    margin-top: 27px;
    border-radius: 5px;
}

.testimonials-photo-leave {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 160px;
    height: 256px;
    background-repeat: no-repeat;
    background-image: url('assets/images/leav.png');
}

.footer {
    height: 443px;
    background-color: #111115;
}

.footer-grid {
    padding-top: 38px;
    display: grid;
    grid-template-columns: 350px 420px 393px;
    grid-template-rows: 120px 100px 180px;
    grid-template-areas:
        "logo logo subscribe"
        "donate donate donate"
        "social nav rights";
}

.footer-logo {
    grid-area: logo;
}

.subscribe {
    margin-left: 22px;
    grid-area: subscribe;
    display: flex;
    flex-direction: column;
}

.subscribe-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFF;
}

.input {
    margin-top: 14px;
    width: 228px;
    height: 42px;
    padding-left: 10px;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px var(--orange);
}

.input:active {
    border-color: var(--green);
}

.input:invalid  {
    color: var(--red);
    border-color: var(--red);
}

::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
}

.footer-btn {
    margin-left: 10px;
    width: 129px;
    height: 42px;
    cursor: pointer;
    position: relative;
    font-family: inherit;
    overflow: hidden;
    transition: all .5s;
    font-weight: 400;
    line-height: 140%;
    color: #000;
    background: #F1F3F2;
    border: 1px solid #333B41;
    border-radius: 5px;
}

.footer-btn:hover {
    background: #F1F3F2;
    color: var(--green);
    border-color: var(--green);
}

.footer-btn:active {
    background: #F1F3F2;
    color: var(--green);
    border-color: var(--green);
}

.input:invalid ~ .footer-btn {
    color: var(--red);
    border-color: var(--red);
}

.donate {
    grid-area: donate;
}

.btn-donate {
    border-radius: 5px;
}

.social {
    display: flex;
    flex-direction: column;
}

.social-item {
    width: 150px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFF;
}

.social-item:hover {
    transition: all .5s;
    color: var(--green);
}

.social-item-ico {
    margin-right: 12px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 100%;
}

.footer-nav {
    grid-area: nav;
}

.footer-nav {
    margin-top: 57px;
    margin-left: 25px;
    width: 362px;
}

.rights {
    grid-area: rights;
    margin-top: 82px;
    margin-left: 162px;
}

.rights-p {
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFF;
}

@media (max-width: 1000px) {
    .container {
        max-width: 940px;
    }

    .nav-list {
        width: 431px;
    }

    .container-watch {
        position: relative;
        padding-top: 0;
        height: 584px;
    }

    .watch-circle {
        position: relative;
        top: -10px;
        margin-left: calc(50% + -44px);
        width: 367px;
        height: 367px;
    }

    .watch-circle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 10px;
        top: 0;
        background-color: #000;
    }

    .watch-moto {
        padding-top: 52px;
        padding-left: 56px;
        width: 460px;
        font-size: 85px;
    }

    .watch-btn {
        margin-top: 35px;
        margin-left: calc(50% + 67px);
    }

    .backstage {
        padding-top: 30px;
        height: 531px;
    }

    .container-backstage {
        grid-template-columns: 455px 1fr;
        gap: 31px;
    }

    .backstage-item-img {
        background-size: cover;
        background-position: 50%;
    }

    .backstage-photo {
        display: none;
    }

    h2 {
        margin-top: -10px;
    }

    .scroll-left {
        left: calc(50% - 147px);
    }

    .scroll-right {
        right: calc(50% - 147px);
    }

    .pets {
        height: 1133px;
    }

    .pets-grid {
        padding-bottom: 80px;
        grid-template-columns: repeat(3, 294px);
        grid-template-rows: repeat(2, 354px);
        row-gap: 92px;
        column-gap: 30px;
    }

    .pets-photo-palm {
        width: 194px;
        height: 202px;
        background-image: url(assets/images/palm_small-desc.png);
    }

    .pets-photo-strelitzia {
        width: 241px;
        height: 180px;
        background-image: url(assets/images/strelitzia_small-desc.png);
    }

    .container-pick {
        height: 876px;
        padding-top: 30px;
    }

    .pick-frame {
        height: 796px;
    }

    .pick-title {
        padding-top: 30px;
    }

    .pick-text1 {
        padding-top: 21px;
        padding-left: 49px;
    }

    .pick-text2 {
        padding-top: 21px;
        padding-left: 49px;
        width: 850px;
    }

    .pick-text3 {
        padding-left: 49px;
        width: 850px;
    }

    .pick-subtitle {
        padding-top: 39px;
    }

    .pick-grid {
        padding-bottom: 70px;
    }

    .container-testimonials {
        height: 842px;
        padding-top: 100px;
    }

    .testimonials-grid {
        padding-top: 30px;
        grid-template-columns: repeat(3, 293px);
        column-gap: 30px;
    }

    .testimonials-grid-item:nth-child(2) {
        display: none;
    }

    .progres-bar {
        width: 390px;
    }

    .btn-testimonials {
        margin-top: 48px;
    }

    .testimonials-photo-leave {
        width: 121px;
        height: 211px;
        background-image: url(assets/images/leav_small-desc.png);
    }

    .footer-grid {
        padding-top: 38px;
        grid-template-columns: 250px 250px 230px 210px;
        grid-template-rows: 123px 98px 134px;
        grid-template-areas:
            "logo logo subscribe subscribe"
            "donate donate donate donate"
            "social nav nav rights";
    }

    .subscribe {
        margin-top: 2px;
        margin-left: 40px;
    }

    .footer-btn {
        margin-left: 6px;
    }

    .nav-list {
        width: 332px;
    }

    .footer-nav {
        margin-left: 20px;
    }

    .rights {
        margin-top: 83px;
        margin-left: -20px;
    }
}

@media (max-width: 640px) {
    .container {
        max-width: 600px;
    }

    .header {
        height: 34px;
    }

    .header-container {
        padding-top: 2px;
    }

    .logo {
        width: 47px;
        height: 29px;
        border: none;
        font-size: 12px;
        background-size: 7px 20px;
        background-repeat: no-repeat;
        background-position: 3px 10px;
    }

    .nav {
        display: none;
    }

    .designed {
        display: none;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 0;
        top: 11px;
        width: 18px;
        height: 10px;
    }

    .hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        margin-bottom: 2px;
        border-radius: 2px;
        transition: .5s all;
    }

    .hamburger-active {
        display: none;
    }

    .header-container-active {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: #fff;
        transition: 0.6 all;
    }

    .header-container-active {
        left: 0;
    }

    .header-container-active .logo {
        width: 66px;
        height: 42px;
        padding: 3px;
        font-size: 15.2116px;
        line-height: 120%;
        color: var(--orange);
        background-image: url(assets/icons/bamboo-org.svg);
        background-size: 10px 20px;
        background-position: 6px 16px;
        border: 1px solid var(--orange);
    }

    .header-container-active .nav {
        display: block;
        margin-left: 0px;
        margin-top: 30px;
    }

    .header-container-active .nav-list {
        height: 170px;
        display: flex;
        flex-direction: column;
    }

    .header-container-active .nav-item, .header-container-active .nav-item.active {
        color: var(--text-color);
        font-size: 16px;
        line-height: 140%;
    }

    .header-container-active .designed {
        display: block;
        color: var(--text-color);
        margin-left: 0;
        margin-top: 15px;
    }
}

